<a href="https://colab.research.google.com/github/nebacodes/PYTH225_Homework/blob/master/my_basic_data_types_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. 
#The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

In [0]:
a = None
print(a)

None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.



# Create another variable that represents your favorite color, and do the same steps as above.

In [0]:
favorite_number = 11 
print (favorite_number)
a = 'is my favorite number'
print(favorite_number, a)

favorite_color = 'Blue'
print (favorite_color)
b = 'is my favorite color'
print(favorite_color, b)

11
11 is my favorite number
Blue
Blue is my favorite color



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

In [0]:
tane = 200
lyrics = f""" #this will ensure the curly bracket is treated as a function
{tane} sari saclarini 
gonlume dolamissin cozulmuyor 
Mihriban

"""
song_title = """
Mihriban

"""
song_artist = """
Musa
"""

print(lyrics, song_title, song_artist)

200 sari saclarini
gonlume dolamissin cozulmuyor
Mihriban


Mihriban


Musa

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game 
#show. As this person plays, you need to update their score to reflect gains and
# losses in points. Each math operation below dictates the change in the 
#competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes 
#in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50



# Subtract 90



# Multiply 10



# Divide 150



# Modulus 3

In [0]:
latest_score = 100 #starting score.
print(latest_score)

latest_score +=50
print(latest_score)

latest_score -= 90
print(latest_score)

latest_score *= 10
print(latest_score)

latest_score /= 150
print(latest_score)

latest_score %= 3
print(latest_score)

100
150
60
600
4.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

In [0]:
string1 = "I would like to learn Python"
string2 = 'really well!'

print(string1, string2)

I would like to learn Python really well!



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2



# B)
c = '0'
d = '2'



# C)
e = '0'
f = 2

In [0]:
a = 3
b = 5

c = '0'
d = '2'

e = '0'
f = 2
f_string = str(e)

addition1 = a + b
print (addition1)

addition2 = c + d + ' is the sum of two strings'
print (addition2)

addition3 = e + ' and ' + f_string
print (addition3)

8
02 is the sum of two strings
0 and 0



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True



# B)
c = False
d = False



# C)
e = True
f = False

In [0]:
# A)
a = True
a_to_int = int(a)
print (a_to_int)

b = True
b_to_int = int(b)
print (b_to_int)

c = False
c_to_int = int(c)
print (c_to_int)

d = False
d_to_int = int(d)
print (d_to_int)

e = True
e_to_int = int(e)
print (e_to_int)

f = False
f_to_int = int(f)
print (f_to_int)

sum_total = a + b + c + d + e + f
print ("""
total = """, sum_total)

1
1
0
0
1
0

total =  3

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

In [0]:
five = 5
zero = 0
neg_8 = -8
neg_22 = -22

five_new = int (five)
five_back = float (five_new)
print (five_new)
print (five_back)

zero_new = int (zero)
zero_back = float (zero_new)
print (zero_new)
print (zero_back)

neg_8_new = int (neg_8)
neg_8_back = float (neg_8_new)
print (neg_8_new)
print (neg_8_back)

neg_22_new = int (neg_22)
neg_22_back = float (neg_22_new)
print (neg_22_new)
print (neg_22_back)

5
5.0
0
0.0
-8
-8.0
-22
-22.0

In [20]:
"""
Typecasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

five_to_string = str(five)
five_to_int = int(five_to_string)
print(five_to_string)
print(five_to_int)

zero_to_string = str(zero)
zero_to_int = int(zero_to_string)
print(zero_to_string)
print(zero_to_int)

neg_8_to_string = str(neg_8)
neg_8_to_int = int(neg_8_to_string)
print(neg_8_to_string)
print(neg_8_to_int)

T_to_string = str(T)
print(T_to_string, "is of type", type(T_to_string))

T_to_int = bool(T_to_string)
print(T_to_int, "is of type", type(T_to_int))

F_to_string = str(T)
print(F_to_string, "is of type", type(F_to_string))

F_to_int = bool(F_to_string)
print(F_to_int, "is of type", type(F_to_int))

5
5
0
0
-8
-8
True is of type <class 'str'>
True is of type <class 'bool'>
True is of type <class 'str'>
True is of type <class 'bool'>



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.


# D) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

In [37]:
one = 1
zero = 0
# PART A: Convert to Boolean
one_bool = bool(one)
print("""
PART A:
""", one_bool)
print(type(one_bool))

zero_bool = bool(zero)
print(zero_bool)
print(type(zero_bool))

# PART B: From Boolean to Float
one_float = float(one)
print("""
PART B:
""", one_float)
print(type(one_float))

zero_float = float(zero_bool)
print(zero_float)
print(type(zero_float))

# PART C: From Float back to Boolean
one_bool = bool(one_float)
print("""
PART C:
""", one_bool)
print(type(one_bool))

zero_bool = bool(zero_float)
print(zero_bool)
print(type(zero_bool))

# PART D: From  Boolean to Integer
one_int = int(one_bool)
print("""
PART D:
""", one_int)
print(type(one_int))

zero_int = int(zero_bool)
print(zero_int)
print(type(zero_int))

PART A:
 True
<class 'bool'>
False
<class 'bool'>

PART B:
 1.0
<class 'float'>
0.0
<class 'float'>

PART C:
 True
<class 'bool'>
False
<class 'bool'>

PART D:
 1
<class 'int'>
0
<class 'int'>

In [43]:
# PART E: Ten = 10 to Boolean Value
ten = 10

ten_to_string = str(ten)
print(ten_to_string)
print(type(ten_to_string))

ten_to_bool=bool(ten_to_string)
print("""
""", ten_to_bool)
print(type(ten_to_bool))

10
<class 'str'>

 True
<class 'bool'>



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.



# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.

In [51]:
one = 1
zero = 0
T = True
F = False

one_bool_2 = bool(one)
print ("""
""", one_bool_2, type(one_bool_2))

zero_bool_2 = bool(zero)
print ("""
""", zero_bool_2, type(zero_bool_2))

T_to_bool = bool(T)
print ("""
""", T_to_bool, type(T_to_bool))

F_to_bool = bool(F)
print ("""
""", F_to_bool, type(F_to_bool))

 True <class 'bool'>

 False <class 'bool'>

 True <class 'bool'>

 False <class 'bool'>

## SHOPPING_LIST

### P1.PY

In [59]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = 'Kale'
item_name_2 = 'Brussels'
item_name_3 = 'Lemons'
item_name_4 = 'Garlic'
item_name_5 = 'Apples'

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = 5.5
item_price_2 = 7.2
item_price_3 = 2.1
item_price_4 = 1.0
item_price_5 = 8.5

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 1
item_quant_2 = 2
item_quant_3 = 2
item_quant_4 = 1
item_quant_5 =5

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

print(item_quant_1, "box of", item_name_1, " = $", item_price_1)
print(item_quant_2, "bags of", item_name_2, " = $", item_price_2)
print(item_quant_3, item_name_3, " = $", item_price_3)
print(item_quant_4, item_name_4, " = $", item_price_4)
print(item_quant_5, item_name_5, " = $", item_price_5)

1 box of Kale  = $ 5.5
2 bags of Brussels  = $ 7.2
2 Lemons  = $ 2.1
1 Garlic  = $ 1.0
5 Apples  = $ 8.5



### P2.PY

In [0]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

# item_name_1 = input('Name your first item: ')
	# ^ this will ask user to input value of item_name_1
# use input() function and ask user to name items
item_name_1 = None
item_name_2 = None
item_name_3 = None
item_name_4 = None
item_name_5 = None

# use input() function and ask user to name prices
item_price_1 = None
item_price_2 = None
item_price_3 = None
item_price_4 = None
item_price_5 = None

# use input() function and ask user to name quants
item_quant_1 = None
item_quant_2 = None
item_quant_3 = None
item_quant_4 = None
item_quant_5 = None

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!

In [71]:
item_name_1 = input('Name your first item: ')
item_price_1 = input('What is the price of this item?: ') 
item_quant_1 = input('What is the quantity of this item?: ')
print(item_quant_1, item_name_1, " = $", item_price_1)

item_name_2 = input("""
Name your second item:
""") 
item_price_2 = input('What is the price of this item?: ') 
item_quant_2 = input('What is the quantity of this item?: ')
print(item_quant_2, item_name_2, " = $", item_price_2)

item_name_3 = input("""
Name your third item:
""") 
item_price_3 = input('What is the price of this item?: ') 
item_quant_3 = input('What is the quantity of this item?: ')
print(item_quant_3, item_name_3, " = $", item_price_3)

item_name_4 = input("""
Name your fourth item:
""") 
item_price_4 = input('What is the price of this item?: ') 
item_quant_4 = input('What is the quantity of this item?: ')
print(item_quant_4, item_name_4, " = $", item_price_4)

item_name_5 = input("""
Name your fifth item:
""") 
item_price_5 = input('What is the price of this item?: ') 
item_quant_5 = input('What is the quantity of this item?: ')
print(item_quant_5, item_name_5, " = $", item_price_5)

print("""
The Complete List is again displayed here for you below:
""")
print(item_quant_1, item_name_1, " = $", item_price_1)
print(item_quant_2, item_name_2, " = $", item_price_2)
print(item_quant_3, item_name_3, " = $", item_price_3)
print(item_quant_4, item_name_4, " = $", item_price_4)
print(item_quant_5, item_name_5, " = $", item_price_5)

Name your first item: Kale
What is the price of this item?: 5.2
What is the quantity of this item?: 1
1 Kale  = $ 5.2

Name your second item:
Lemons
What is the price of this item?: 2.3
What is the quantity of this item?: 3
3 Lemons  = $ 2.3

Name your third item:
Juice
What is the price of this item?: 5
What is the quantity of this item?: 1
1 Juice  = $ 5

Name your fourth item:
Apples
What is the price of this item?: 2
What is the quantity of this item?: 3
3 Apples  = $ 2

Name your fifth item:
Milk
What is the price of this item?: 3
What is the quantity of this item?: 1
1 Milk  = $ 3

The Complete List is again displayed here for you below:

1 Kale  = $ 5.2
3 Lemons  = $ 2.3
1 Juice  = $ 5
3 Apples  = $ 2
1 Milk  = $ 3